pipeline/pipeline_failure.json
{
	"name": "pipeline_failure",
	"properties": {
		"activities": [
			{
				"name": "copy",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_Json1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "copy",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-28.centralindia.logic.azure.com:443/workflows/3e16ec4e98794753a25783077dde892b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=eFu3WX3R5gcaZ0I1HoPZ_9wOr7VPqZpFFfmiHONdMW8",
					"method": "POST",
					"headers": {
						"Conent-Type": "application/json"
					},
					"body": {
						"value": "{\n \"pipeline\":\"@{pipeline().Pipeline}\",\n\"df\":\"@{pipeline().DataFactory}\",\n\"error\":\"@{activity('copy').Error.Message}\"\n\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}